<h1>Need Power Plz</h1>

<p >
    La société Need Power Plz propose à ses usagers la possibilité de louer des batteries pour recharger leur téléphone
    portable.
    Pour cela, elle a mis en place un parc d'une vingtaine de station réparties dans la ville de Lyon.
</p>

<h3 > Les créateurs </h3>

<div class="container">
    <div class="row">
        <div class="col-sm">

            <mat-card class="Guillaume-presentation">
                <mat-card-header>
                    <mat-card-title>Guillaume</mat-card-title>
                    <mat-card-subtitle>Grand Manitou</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Spécialiste-ès programmation. Responsable des cartes et référents pour tout problème de
                        programmation.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm">

            <mat-card class="Engie-presentation">
                <mat-card-header>
                    <mat-card-title>Engie</mat-card-title>
                    <mat-card-subtitle>Codeuse Professionnelle</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Spécialiste-ès sécurité. Responsable de la connexion et de l'esthétique.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm">

            <mat-card class="Engie-presentation">
                <mat-card-header>
                    <mat-card-title>Sarah</mat-card-title>
                    <mat-card-subtitle>Stagiaire</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Fait ce qu'elle peut. Responsable des listes.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>