<aol-map #map (onClick)="handleClick($event)" (onMoveEnd)="handleMove($event)">
    <aol-interaction-default></aol-interaction-default>
    <app-station-marker #marker></app-station-marker>
    <aol-view [zoom]=" zoom">
        <aol-coordinate [x]="lonCoord" [y]="latCoord" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view>
    <aol-layer-tile>
        <aol-source-osm></aol-source-osm>
    </aol-layer-tile>
    <aol-layer-vector>
        <aol-source-vector>
            <aol-feature [id]="'currentLocation'">
                <aol-geometry-point>
                    <aol-coordinate [x]="lonCoord" [y]="latCoord" srid="EPSG:4326">
                    </aol-coordinate>
                </aol-geometry-point>
                <aol-style>
                    <aol-style-circle [radius]="10">
                        <aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
                        <aol-style-fill [color]="'red'"></aol-style-fill>
                    </aol-style-circle>
                </aol-style>
            </aol-feature>
            <aol-feature *ngFor="let station of stationMap | keyvalue" [id]="station.key">
                <aol-geometry-point>
                    <aol-coordinate [x]="station.value.localisation.longitude" [y]="station.value.localisation.latitude"
                        srid="EPSG:4326">
                    </aol-coordinate>
                </aol-geometry-point>
                <aol-style>
                    <aol-style-circle [radius]="10">
                        <aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
                        <aol-style-fill [color]="'blue'"></aol-style-fill>
                    </aol-style-circle>
                </aol-style>
            </aol-feature>
        </aol-source-vector>
    </aol-layer-vector>
</aol-map>