<h1 *ngIf="genericStation" style="text-align: center;">Station {{genericStation.id}}</h1>



<mat-card class="station-card">
    <mat-card-content>
        <table *ngIf="genericStation">
            <tr>
                <th>
                    <h6>Position </h6>
                </th>
            </tr>
            <tr>
                <th>Latitude : </th>
                <th>{{genericStation.localisation.latitude}}</th>
            </tr>
            <tr>
                <th>Longitude :</th>
                <th>{{genericStation.localisation.longitude}}</th>
            </tr>
            <br>
            <tr>
                <th>
                    <h6>Nb d'emplacement libre</h6>
                </th>
                <th>
                    <h6>{{genericStation.nslots-genericStation.powerBankList.length}}</h6>
                </th>
            </tr>
            <br>
            <tr>
                <th>
                    <h6>Nb de batteries disponibles :</h6>
                </th>
                <th>
                    <h6>{{genericStation.powerBankList.length}}</h6>
                </th>
            </tr>
            <br>
            <tr>
                <th>
                    <h6>Status :</h6>
                </th>
                <th>
                    <h6>{{genericStation.status}}</h6>
                </th>
            </tr>
        </table>
    </mat-card-content>
</mat-card>




<br>
<div class="row">
    <div class="container">
        <div class="card" *ngIf="genericStation">
            <div class="card-header">Détails des batteries de la station {{genericStation.id}}
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <th>Id</th>
                        <th>Status</th>
                        <th>Niveau</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of genericStation.powerBankList">
                            <td>{{item.id}}</td>
                            <!--<td><mat-icon>check_circle</mat-icon>{{item.status}}</td>-->
                            <td *ngIf="item.status=='ok'; else statusFalse">
                                <mat-icon style="color: forestgreen;">check_circle</mat-icon>
                            </td>
                            <ng-template #statusFalse>
                                <td>
                                    <mat-icon style="color:crimson;">cancel</mat-icon>
                                </td>
                            </ng-template>
                            <td>
                                <mat-progress-bar mode="determinate" value="{{item.level*100}}"></mat-progress-bar>
                                {{item.level*100}}%
                            </td>
                            <td>
                                <button *ngIf="authService.isUserLoggedIn() && !hasRental" mat-raised-button
                                    (click)="rentBattery(item)" color="primary">Louer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <tbody>
                        <!-- <tr *ngFor="let item of emptySlots">
                            <button mat-raised-button (click)="attachPowerBank(genericStation.id)"
                                color="primary">Attacher une batterie</button>
                        </tr> -->
                        <!-- <tr *ngIf="emptySlots !== null">
                            <p>Il reste {{emptySlots.length}} emplacement(s) libre(s) </p>
                            <button mat-raised-button (click)="attachPowerBank(genericStation.id)"
                                color="primary">Attacher une batterie</button>
                        </tr>

                        <tr *ngIf="emptySlots === null">
                            <p>Aucune batterie ne peut être attachée</p>
                        </tr> -->
                        <tr>
                            <button *ngIf="hasRental" mat-raised-button (click)="returnBattery()"
                                color="primary">Rendre la batterie</button>
                        </tr>


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>