<aol-overlay>
    <aol-coordinate *ngIf="station" [x]="station.localisation.longitude" [y]="station.localisation.latitude"
        [srid]="'EPSG:4326'"></aol-coordinate>
    <aol-content>
        <div id="popupId" class="stationPopup">
            <div id="popupIdContent" class="stationPopupContent">
                <div *ngIf="station">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Station {{station.id}}
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            {{station.localisation.longitude}},{{station.localisation.latitude}}
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </aol-content>
</aol-overlay>