#popupId {
    display:none;
}

.stationPopup {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    bottom: 12px;
    left: -20px;
}

.stationPopupContent {
    max-height: 200px;
    overflow-x: auto;
}