.spacer {
    flex: 1 1;
}
a {
    text-decoration: none;
    color: white;
    margin: 20px;
    
}

mat-toolbar {
    min-height: 80px;
 
}

mat-toolbar-row {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px ;
    height: 40px;
 
}