
<div class="mat-app-background basic-container">
    <mat-drawer-container class="container" autosize>
        <mat-drawer opened class="sidenav" mode="side">
            <a mat-list-item router routerLink="createAdminAccount">Créer un compte administrateur</a>
            <mat-divider></mat-divider>
            <a mat-list-item router routerLink="station">Ajouter une station</a>
            <mat-divider></mat-divider>
        </mat-drawer>

        <div class="sidenav-content">
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
</div>