<router-outlet></router-outlet>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Créer un admin
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        <app-add-admin></app-add-admin>
    </mat-list>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Ajouter une station
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        
    </mat-list>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Ajouter une batterie
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        
    </mat-list>
</mat-expansion-panel>