<header class="fixed-top" id="header">
    <mat-toolbar class="" color="primary">
        <mat-toolbar-row>

            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="assets/img/recycling.png">
                </a>
            </div>

            <a class="active" href="home">Accueil</a>

            <a routerLink="/qui">Qui sommes-nous ?</a>

            <a routerLink="/stations">Les stations</a>

            <span *ngIf="userRental" style="margin-left:50px">Location : {{userRental.powerBank.id}} : {{userRental.limitDate}}</span>

            <span class="spacer"></span>
            <a *ngIf="!loginService.isUserLoggedIn()" href="login">Login</a>
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/monCompte/{{loginService.getUser()}}/information">Mon compte</a>
            <a *ngIf="loginService.isUserLoggedIn() && loginService.isAdmin()"
                routerLink="/admin/{{loginService.getUser()}}/station">Admin</a>
            <a *ngIf="loginService.isUserLoggedIn()" href="logout">Logout</a>

        </mat-toolbar-row>
    </mat-toolbar>
</header>