<br>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-header">Liste des stations</div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <th>Id</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Nombre de batteries</th>
                        <th>status</th>

                    </thead>
                    <tr *ngFor="let item of stationList">
                        <td>{{item.id}}</td>
                        <td>{{item.localisation.longitude}}</td>
                        <td>{{item.localisation.latitude}}</td>
                        <td>{{item.nslots}}</td>
                        <td>{{item.status}}</td>
                        <td><button mat-stroked-button color="primary"><a
                                    routerLink="/station/{{item.id}}">Détails</a></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>