body {
    padding: 100px;
    align-content: center;
    text-align: center;
}

mat-list {
    padding: 100px;
}

.container {
    margin-left: -100px;
    margin-top: -60px;
    
  }
  
  .sidenav-content {
  
    align-items: center;
    justify-content: center;
    
  }
  
  .sidenav {
      padding: 40px;
  }

  a {
      text-decoration: none;
      padding: 10px;
      color: black;
  }
 